*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}
:root{
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21, 21);
}
body{
    background: var(--background);
    min-height: 100vh;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
ul{
    display: flex;
    align-items: center;
    gap: 3em;
}
nav ul a{
    color: white;
    opacity: 0.7;
    transition: 0.3s ease;
}
nav ul a:hover{
    opacity: 1;
}
.logo{
    color: white;
    font-size: 2em;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity: 1;
}
.btn{
    padding: 0.5em 1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background-color: white;
    color: var(--background)
}
span{
    background: linear-gradient(to right, #6cff52, #3ec5ff);
    background-clip: text;
    color: transparent;
}
#menu{
    color: white;
    font-size: 3em;
    display: none;
}
section{
    min-height: 100vh;
    padding: 5% 15%;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;   
}
#home img{
    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
}
.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: 600px;
}
.info-box h1{
    font-size: 5em;
    font-weight: 500;
}
.info-box h3{
    font-size: 2em;
    font-weight: 400;
}
.info-box p{
    opacity: 0.7;
}
.btn-box{
    display: flex;
    gap: 1em;
}